# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Omnet
**/SIMCAN-2.0
out/
out/**
doc/**
*.o
**/.DS_Store
**/*_m.h
**/*_m.cc
.settings/*.*
**/.tkenvrc
**/.cmdenv-log
src/*.exe
src/.tmp*
simulations/**/.qtenvrc
simulations/**/results/
simulations/**/results/*.*

# Executables
Simcan2Cloud
Simcan2Cloud_dbg

# GUI files
.qtenvrc

# VsCode configuration files
.vscode/
/.computed/

**/.ipynb_checkpoints